*
{
    margin: 0%;
    padding:0%;
    color: rgb(103, 185, 48);
   text-decoration: none;
}
body
{
    background-image: linear-gradient(rgba(128, 128, 128, 1),  rgba(0, 0, 0, 1));

}
.a
{
    height: 80vh;
    width: 80vw;
    /* border: 2px solid black; */
    margin-top: 175px;
}
.a .col-3
{
    /* border: 2px solid  rgb(255, 255, 255); */
    border-radius: 10px;
    background:white ;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-bottom: 20px;
   cursor: pointer;
  
}
.b
{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    
}