*
{
    margin: 0%;
    padding: 0%;
   
}
body
{
    background-color: brown;
}
.a
{
    /* border: 5px solid black; */
    margin-top: 80px;
}
.a .b i
{
    padding: 5px 10px;
    background-color:blueviolet;
    border: 5px solid blueviolet;
    color: white;
    cursor: pointer;
}
.row
{
    /* border: 2px solid black; */
}